<b>Import Data</b>

Data Criteria:<br>
(1) Minimum 5000 unique post for each sub-reddits<br>
(2) Must be a text post<br>
(3) Each post can't be too short (minimum 20 words)<br>
(4) The selected subreddits can't be too different

In [1]:
import requests
import pandas as pd
import numpy as np
import re

In [2]:
url = "https://api.pushshift.io/reddit/search/submission"

<b>Start of Iterative Download Process</b>

In [3]:
#intiate cut-off end date (17 Nov 2022, 23:59:59) 1668470399
#when error occured while obtaining data, will update this timestamp to continue with the download
timestamp = 1668470399

In [4]:
# initiate loop to get data for r/ableton in batches

n = 1

while int(timestamp) > 1605398399: #to get 2-year worth of data (17 Nov 2020, 23:59:59)

    params = {'subreddit' : 'ableton', 'size': 500, 'before': timestamp,} #subreddit code change accordingly
    res = requests.get(url, params)
    res.status_code
    data = res.json()
    df = pd.DataFrame(data['data'])
    
    timestamp = df[-1:]['created_utc']
    
    print(timestamp)

    df['wordcount'] = [len(re.findall(r'\w+', str(i))) for i in df['selftext']]

    df = df.drop(df[df.wordcount < 20].index)
   
    if n == 1:
        df_main = df
    else:
        df_main = pd.concat([df_main, df])

    print("Iternation: " + str(n) + 
          " Valid Rows: " + str(df.shape[0]) + 
          " Cummulated Rows: " + str(df_main.shape[0]))
        
    n += 1

249    1668004553
Name: created_utc, dtype: int64
Iternation: 1 Valid Rows: 149 Cummulated Rows: 149
248    1667470593
Name: created_utc, dtype: int64
Iternation: 2 Valid Rows: 152 Cummulated Rows: 301
248    1666921175
Name: created_utc, dtype: int64
Iternation: 3 Valid Rows: 140 Cummulated Rows: 441
249    1666381560
Name: created_utc, dtype: int64
Iternation: 4 Valid Rows: 170 Cummulated Rows: 611
249    1665835704
Name: created_utc, dtype: int64
Iternation: 5 Valid Rows: 158 Cummulated Rows: 769
248    1665159353
Name: created_utc, dtype: int64
Iternation: 6 Valid Rows: 177 Cummulated Rows: 946
249    1664623835
Name: created_utc, dtype: int64
Iternation: 7 Valid Rows: 171 Cummulated Rows: 1117
249    1664034776
Name: created_utc, dtype: int64
Iternation: 8 Valid Rows: 153 Cummulated Rows: 1270
249    1663350537
Name: created_utc, dtype: int64
Iternation: 9 Valid Rows: 163 Cummulated Rows: 1433
248    1662755596
Name: created_utc, dtype: int64
Iternation: 10 Valid Rows: 164 Cummulated Rows: 1597
248    1662109624
Name: created_utc, dtype: int64
Iternation: 11 Valid Rows: 174 Cummulated Rows: 1771
249    1661407621
Name: created_utc, dtype: int64
Iternation: 12 Valid Rows: 163 Cummulated Rows: 1934
249    1660845836
Name: created_utc, dtype: int64
Iternation: 13 Valid Rows: 174 Cummulated Rows: 2108
249    1660215966
Name: created_utc, dtype: int64
Iternation: 14 Valid Rows: 162 Cummulated Rows: 2270
249    1659621257
Name: created_utc, dtype: int64
Iternation: 15 Valid Rows: 166 Cummulated Rows: 2436
248    1658987196
Name: created_utc, dtype: int64
Iternation: 16 Valid Rows: 159 Cummulated Rows: 2595
249    1658397085
Name: created_utc, dtype: int64
Iternation: 17 Valid Rows: 164 Cummulated Rows: 2759
249    1657828884
Name: created_utc, dtype: int64
Iternation: 18 Valid Rows: 158 Cummulated Rows: 2917
249    1657250240
Name: created_utc, dtype: int64
Iternation: 19 Valid Rows: 147 Cummulated Rows: 3064
248    1656687664
Name: created_utc, dtype: int64
Iternation: 20 Valid Rows: 169 Cummulated Rows: 3233
249    1656083649
Name: created_utc, dtype: int64
Iternation: 21 Valid Rows: 162 Cummulated Rows: 3395
249    1655488624
Name: created_utc, dtype: int64
Iternation: 22 Valid Rows: 160 Cummulated Rows: 3555
248    1654923333
Name: created_utc, dtype: int64
Iternation: 23 Valid Rows: 171 Cummulated Rows: 3726
248    1654349850
Name: created_utc, dtype: int64
Iternation: 24 Valid Rows: 149 Cummulated Rows: 3875
249    1653753936
Name: created_utc, dtype: int64
Iternation: 25 Valid Rows: 179 Cummulated Rows: 4054
248    1653084505
Name: created_utc, dtype: int64
Iternation: 26 Valid Rows: 161 Cummulated Rows: 4215
248    1652515903
Name: created_utc, dtype: int64
Iternation: 27 Valid Rows: 140 Cummulated Rows: 4355
249    1651888744
Name: created_utc, dtype: int64
Iternation: 28 Valid Rows: 160 Cummulated Rows: 4515
248    1651338070
Name: created_utc, dtype: int64
Iternation: 29 Valid Rows: 164 Cummulated Rows: 4679
249    1650740166
Name: created_utc, dtype: int64
Iternation: 30 Valid Rows: 153 Cummulated Rows: 4832
249    1650066540
Name: created_utc, dtype: int64
Iternation: 31 Valid Rows: 167 Cummulated Rows: 4999
249    1649442889
Name: created_utc, dtype: int64
Iternation: 32 Valid Rows: 167 Cummulated Rows: 5166
249    1648976225
Name: created_utc, dtype: int64
Iternation: 33 Valid Rows: 140 Cummulated Rows: 5306
249    1648413315
Name: created_utc, dtype: int64
Iternation: 34 Valid Rows: 154 Cummulated Rows: 5460
249    1647887720
Name: created_utc, dtype: int64
Iternation: 35 Valid Rows: 156 Cummulated Rows: 5616
249    1647411196
Name: created_utc, dtype: int64
Iternation: 36 Valid Rows: 150 Cummulated Rows: 5766
249    1646834528
Name: created_utc, dtype: int64
Iternation: 37 Valid Rows: 161 Cummulated Rows: 5927
248    1646239213
Name: created_utc, dtype: int64
Iternation: 38 Valid Rows: 170 Cummulated Rows: 6097
248    1645671646
Name: created_utc, dtype: int64
Iternation: 39 Valid Rows: 163 Cummulated Rows: 6260
248    1645138298
Name: created_utc, dtype: int64
Iternation: 40 Valid Rows: 166 Cummulated Rows: 6426
248    1644592953
Name: created_utc, dtype: int64
Iternation: 41 Valid Rows: 153 Cummulated Rows: 6579
248    1644075669
Name: created_utc, dtype: int64
Iternation: 42 Valid Rows: 158 Cummulated Rows: 6737
249    1643633165
Name: created_utc, dtype: int64
Iternation: 43 Valid Rows: 156 Cummulated Rows: 6893
249    1643075184
Name: created_utc, dtype: int64
Iternation: 44 Valid Rows: 166 Cummulated Rows: 7059
249    1642566532
Name: created_utc, dtype: int64
Iternation: 45 Valid Rows: 162 Cummulated Rows: 7221
248    1642097653
Name: created_utc, dtype: int64
Iternation: 46 Valid Rows: 158 Cummulated Rows: 7379
249    1641620850
Name: created_utc, dtype: int64
Iternation: 47 Valid Rows: 183 Cummulated Rows: 7562
249    1641070586
Name: created_utc, dtype: int64
Iternation: 48 Valid Rows: 153 Cummulated Rows: 7715
249    1640558796
Name: created_utc, dtype: int64
Iternation: 49 Valid Rows: 171 Cummulated Rows: 7886
249    1639957374
Name: created_utc, dtype: int64
Iternation: 50 Valid Rows: 169 Cummulated Rows: 8055
248    1639349431
Name: created_utc, dtype: int64
Iternation: 51 Valid Rows: 174 Cummulated Rows: 8229
249    1638804159
Name: created_utc, dtype: int64
Iternation: 52 Valid Rows: 159 Cummulated Rows: 8388
249    1638281786
Name: created_utc, dtype: int64
Iternation: 53 Valid Rows: 161 Cummulated Rows: 8549
248    1637781860
Name: created_utc, dtype: int64
Iternation: 54 Valid Rows: 170 Cummulated Rows: 8719
249    1637274352
Name: created_utc, dtype: int64
Iternation: 55 Valid Rows: 163 Cummulated Rows: 8882
249    1636725884
Name: created_utc, dtype: int64
Iternation: 56 Valid Rows: 161 Cummulated Rows: 9043
249    1636162233
Name: created_utc, dtype: int64
Iternation: 57 Valid Rows: 169 Cummulated Rows: 9212
249    1635496139
Name: created_utc, dtype: int64
Iternation: 58 Valid Rows: 165 Cummulated Rows: 9377
249    1634986033
Name: created_utc, dtype: int64
Iternation: 59 Valid Rows: 146 Cummulated Rows: 9523
249    1634418476
Name: created_utc, dtype: int64
Iternation: 60 Valid Rows: 154 Cummulated Rows: 9677
249    1633784111
Name: created_utc, dtype: int64
Iternation: 61 Valid Rows: 158 Cummulated Rows: 9835
249    1633234409
Name: created_utc, dtype: int64
Iternation: 62 Valid Rows: 159 Cummulated Rows: 9994
249    1632665063
Name: created_utc, dtype: int64
Iternation: 63 Valid Rows: 161 Cummulated Rows: 10155
249    1632094773
Name: created_utc, dtype: int64
Iternation: 64 Valid Rows: 164 Cummulated Rows: 10319
249    1631489880
Name: created_utc, dtype: int64
Iternation: 65 Valid Rows: 154 Cummulated Rows: 10473
249    1631022428
Name: created_utc, dtype: int64
Iternation: 66 Valid Rows: 144 Cummulated Rows: 10617
249    1630422550
Name: created_utc, dtype: int64
Iternation: 67 Valid Rows: 147 Cummulated Rows: 10764
249    1629761347
Name: created_utc, dtype: int64
Iternation: 68 Valid Rows: 157 Cummulated Rows: 10921
249    1629241981
Name: created_utc, dtype: int64
Iternation: 69 Valid Rows: 150 Cummulated Rows: 11071
249    1628719986
Name: created_utc, dtype: int64
Iternation: 70 Valid Rows: 164 Cummulated Rows: 11235
248    1628144219
Name: created_utc, dtype: int64
Iternation: 71 Valid Rows: 144 Cummulated Rows: 11379
249    1627715105
Name: created_utc, dtype: int64
Iternation: 72 Valid Rows: 135 Cummulated Rows: 11514
249    1627162920
Name: created_utc, dtype: int64
Iternation: 73 Valid Rows: 159 Cummulated Rows: 11673
249    1626511353
Name: created_utc, dtype: int64
Iternation: 74 Valid Rows: 160 Cummulated Rows: 11833
249    1625925917
Name: created_utc, dtype: int64
Iternation: 75 Valid Rows: 144 Cummulated Rows: 11977
249    1625301295
Name: created_utc, dtype: int64
Iternation: 76 Valid Rows: 173 Cummulated Rows: 12150
249    1624681455
Name: created_utc, dtype: int64
Iternation: 77 Valid Rows: 174 Cummulated Rows: 12324
247    1624093138
Name: created_utc, dtype: int64
Iternation: 78 Valid Rows: 158 Cummulated Rows: 12482
249    1623691876
Name: created_utc, dtype: int64
Iternation: 79 Valid Rows: 98 Cummulated Rows: 12580
249    1623092325
Name: created_utc, dtype: int64
Iternation: 80 Valid Rows: 133 Cummulated Rows: 12713

249    1622562174
Name: created_utc, dtype: int64
Iternation: 81 Valid Rows: 172 Cummulated Rows: 12885
249    1622039828
Name: created_utc, dtype: int64
Iternation: 82 Valid Rows: 162 Cummulated Rows: 13047
249    1621453429
Name: created_utc, dtype: int64
Iternation: 83 Valid Rows: 171 Cummulated Rows: 13218
249    1620943087
Name: created_utc, dtype: int64
Iternation: 84 Valid Rows: 163 Cummulated Rows: 13381
249    1620473508
Name: created_utc, dtype: int64
Iternation: 85 Valid Rows: 150 Cummulated Rows: 13531
249    1619987666
Name: created_utc, dtype: int64
Iternation: 86 Valid Rows: 142 Cummulated Rows: 13673
249    1619482798
Name: created_utc, dtype: int64
Iternation: 87 Valid Rows: 156 Cummulated Rows: 13829
248    1619053885
Name: created_utc, dtype: int64
Iternation: 88 Valid Rows: 170 Cummulated Rows: 13999
249    1618591172
Name: created_utc, dtype: int64
Iternation: 89 Valid Rows: 163 Cummulated Rows: 14162
249    1617812478
Name: created_utc, dtype: int64
Iternation: 90 Valid Rows: 172 Cummulated Rows: 14334
249    1617424975
Name: created_utc, dtype: int64
Iternation: 91 Valid Rows: 163 Cummulated Rows: 14497
249    1616968594
Name: created_utc, dtype: int64
Iternation: 92 Valid Rows: 162 Cummulated Rows: 14659
249    1615683462
Name: created_utc, dtype: int64
Iternation: 93 Valid Rows: 163 Cummulated Rows: 14822
248    1615364846
Name: created_utc, dtype: int64
Iternation: 94 Valid Rows: 162 Cummulated Rows: 14984
249    1614703842
Name: created_utc, dtype: int64
Iternation: 95 Valid Rows: 152 Cummulated Rows: 15136
247    1614240719
Name: created_utc, dtype: int64
Iternation: 96 Valid Rows: 155 Cummulated Rows: 15291
249    1614063603
Name: created_utc, dtype: int64
Iternation: 97 Valid Rows: 121 Cummulated Rows: 15412
249    1613729403
Name: created_utc, dtype: int64
Iternation: 98 Valid Rows: 166 Cummulated Rows: 15578
249    1613190582
Name: created_utc, dtype: int64
Iternation: 99 Valid Rows: 158 Cummulated Rows: 15736
248    1612808053
Name: created_utc, dtype: int64
Iternation: 100 Valid Rows: 154 Cummulated Rows: 15890
249    1612110246
Name: created_utc, dtype: int64
Iternation: 101 Valid Rows: 136 Cummulated Rows: 16026
249    1611599895
Name: created_utc, dtype: int64
Iternation: 102 Valid Rows: 171 Cummulated Rows: 16197
249    1611188906
Name: created_utc, dtype: int64
Iternation: 103 Valid Rows: 145 Cummulated Rows: 16342
249    1610816160
Name: created_utc, dtype: int64
Iternation: 104 Valid Rows: 163 Cummulated Rows: 16505
249    1610453056
Name: created_utc, dtype: int64
Iternation: 105 Valid Rows: 173 Cummulated Rows: 16678
249    1610043153
Name: created_utc, dtype: int64
Iternation: 106 Valid Rows: 166 Cummulated Rows: 16844
249    1609707892
Name: created_utc, dtype: int64
Iternation: 107 Valid Rows: 164 Cummulated Rows: 17008
249    1609285751
Name: created_utc, dtype: int64
Iternation: 108 Valid Rows: 170 Cummulated Rows: 17178
249    1608908567
Name: created_utc, dtype: int64
Iternation: 109 Valid Rows: 164 Cummulated Rows: 17342
249    1608486356
Name: created_utc, dtype: int64
Iternation: 110 Valid Rows: 163 Cummulated Rows: 17505
249    1608014743
Name: created_utc, dtype: int64
Iternation: 111 Valid Rows: 156 Cummulated Rows: 17661
249    1607570304
Name: created_utc, dtype: int64
Iternation: 112 Valid Rows: 150 Cummulated Rows: 17811
249    1607195514
Name: created_utc, dtype: int64
Iternation: 113 Valid Rows: 163 Cummulated Rows: 17974
249    1606755034
Name: created_utc, dtype: int64
Iternation: 114 Valid Rows: 159 Cummulated Rows: 18133
249    1606416319
Name: created_utc, dtype: int64
Iternation: 115 Valid Rows: 158 Cummulated Rows: 18291
249    1606070852
Name: created_utc, dtype: int64
Iternation: 116 Valid Rows: 165 Cummulated Rows: 18456
249    1605659719
Name: created_utc, dtype: int64
Iternation: 117 Valid Rows: 150 Cummulated Rows: 18606
248    1605335472
Name: created_utc, dtype: int64
Iternation: 118 Valid Rows: 139 Cummulated Rows: 18745

In [5]:
df_main = df_main.drop_duplicates(subset='selftext', keep="first")
print("Final Rows After Deduplication: " + str(df_main.shape[0]))

Final Rows After Deduplication: 18562

In [6]:
#export data for backup
df_main.to_csv(r'ableton_data_20nov2022.csv', index=False)