<b>Import Data</b>

Data Criteria:<br>
(1) Minimum 5000 unique post for each sub-reddits<br>
(2) Must be a text post<br>
(3) Each post can't be too short (minimum 20 words)<br>
(4) The selected subreddits can't be too different

In [2]:
import requests
import pandas as pd
import numpy as np
import re

In [3]:
url = "https://api.pushshift.io/reddit/search/submission"

<b>Start of Iterative Download Process</b>

In [4]:
#intiate cut-off end date (17 Nov 2022, 23:59:59) 1668470399
#when error occured while obtaining data, will update this timestamp to continue with the download
timestamp = 1668470399

In [6]:
# initiate loop to get data for r/ableton in batches

n = 1

while int(timestamp) > 1605398399: #to get 2-year worth of data (17 Nov 2020, 23:59:59)

    params = {'subreddit' : 'FL_Studio', 'size': 500, 'before': timestamp,} #subreddit code change accordingly
    res = requests.get(url, params)
    res.status_code
    data = res.json()
    df = pd.DataFrame(data['data'])
    
    timestamp = df[-1:]['created_utc']
    
    print(timestamp)
    
    df['wordcount'] = [len(re.findall(r'\w+', str(i))) for i in df['selftext']]

    df = df.drop(df[df.wordcount < 20].index)
   
    if n == 1:
        df_main = df
    else:
        df_main = pd.concat([df_main, df])

    print("Iternation: " + str(n) + 
          " Valid Rows: " + str(df.shape[0]) + 
          " Cummulated Rows: " + str(df_main.shape[0]))
        
    n += 1

249    1649889470
Name: created_utc, dtype: int64
Iternation: 1 Valid Rows: 120 Cummulated Rows: 120
249    1649517986
Name: created_utc, dtype: int64
Iternation: 2 Valid Rows: 90 Cummulated Rows: 210
248    1649164290
Name: created_utc, dtype: int64
Iternation: 3 Valid Rows: 116 Cummulated Rows: 326
249    1648787673
Name: created_utc, dtype: int64
Iternation: 4 Valid Rows: 104 Cummulated Rows: 430
249    1648439152
Name: created_utc, dtype: int64
Iternation: 5 Valid Rows: 88 Cummulated Rows: 518
248    1648047741
Name: created_utc, dtype: int64
Iternation: 6 Valid Rows: 100 Cummulated Rows: 618
247    1647728735
Name: created_utc, dtype: int64
Iternation: 7 Valid Rows: 87 Cummulated Rows: 705
249    1647353916
Name: created_utc, dtype: int64
Iternation: 8 Valid Rows: 101 Cummulated Rows: 806
249    1647015291
Name: created_utc, dtype: int64
Iternation: 9 Valid Rows: 99 Cummulated Rows: 905
249    1646673523
Name: created_utc, dtype: int64
Iternation: 10 Valid Rows: 96 Cummulated Rows: 1001
249    1646272751
Name: created_utc, dtype: int64
Iternation: 11 Valid Rows: 101 Cummulated Rows: 1102
249    1645923792
Name: created_utc, dtype: int64
Iternation: 12 Valid Rows: 107 Cummulated Rows: 1209
249    1645527675
Name: created_utc, dtype: int64
Iternation: 13 Valid Rows: 92 Cummulated Rows: 1301
249    1645167596
Name: created_utc, dtype: int64
Iternation: 14 Valid Rows: 80 Cummulated Rows: 1381
249    1644841045
Name: created_utc, dtype: int64
Iternation: 15 Valid Rows: 100 Cummulated Rows: 1481
249    1644523603
Name: created_utc, dtype: int64
Iternation: 16 Valid Rows: 81 Cummulated Rows: 1562
249    1644153765
Name: created_utc, dtype: int64
Iternation: 17 Valid Rows: 104 Cummulated Rows: 1666
249    1643809576
Name: created_utc, dtype: int64
Iternation: 18 Valid Rows: 103 Cummulated Rows: 1769
249    1643460604
Name: created_utc, dtype: int64
Iternation: 19 Valid Rows: 100 Cummulated Rows: 1869
249    1643082508
Name: created_utc, dtype: int64
Iternation: 20 Valid Rows: 105 Cummulated Rows: 1974
249    1642788087
Name: created_utc, dtype: int64
Iternation: 21 Valid Rows: 104 Cummulated Rows: 2078
249    1642450457
Name: created_utc, dtype: int64
Iternation: 22 Valid Rows: 102 Cummulated Rows: 2180
249    1642169325
Name: created_utc, dtype: int64
Iternation: 23 Valid Rows: 101 Cummulated Rows: 2281
249    1641863389
Name: created_utc, dtype: int64
Iternation: 24 Valid Rows: 111 Cummulated Rows: 2392
249    1641552756
Name: created_utc, dtype: int64
Iternation: 25 Valid Rows: 117 Cummulated Rows: 2509
249    1641186393
Name: created_utc, dtype: int64
Iternation: 26 Valid Rows: 115 Cummulated Rows: 2624
249    1640823208
Name: created_utc, dtype: int64
Iternation: 27 Valid Rows: 112 Cummulated Rows: 2736
249    1640536563
Name: created_utc, dtype: int64
Iternation: 28 Valid Rows: 126 Cummulated Rows: 2862
249    1640166214
Name: created_utc, dtype: int64
Iternation: 29 Valid Rows: 123 Cummulated Rows: 2985
249    1639728629
Name: created_utc, dtype: int64
Iternation: 30 Valid Rows: 112 Cummulated Rows: 3097
249    1639304182
Name: created_utc, dtype: int64
Iternation: 31 Valid Rows: 119 Cummulated Rows: 3216
249    1638832289
Name: created_utc, dtype: int64
Iternation: 32 Valid Rows: 128 Cummulated Rows: 3344
249    1638446856
Name: created_utc, dtype: int64
Iternation: 33 Valid Rows: 120 Cummulated Rows: 3464
249    1638078979
Name: created_utc, dtype: int64
Iternation: 34 Valid Rows: 114 Cummulated Rows: 3578
249    1637689537
Name: created_utc, dtype: int64
Iternation: 35 Valid Rows: 102 Cummulated Rows: 3680
249    1637354766
Name: created_utc, dtype: int64
Iternation: 36 Valid Rows: 141 Cummulated Rows: 3821
249    1636969984
Name: created_utc, dtype: int64
Iternation: 37 Valid Rows: 127 Cummulated Rows: 3948
249    1636572513
Name: created_utc, dtype: int64
Iternation: 38 Valid Rows: 120 Cummulated Rows: 4068
249    1636226749
Name: created_utc, dtype: int64
Iternation: 39 Valid Rows: 118 Cummulated Rows: 4186
249    1635867847
Name: created_utc, dtype: int64
Iternation: 40 Valid Rows: 128 Cummulated Rows: 4314
249    1635455723
Name: created_utc, dtype: int64
Iternation: 41 Valid Rows: 114 Cummulated Rows: 4428
249    1635103583
Name: created_utc, dtype: int64
Iternation: 42 Valid Rows: 113 Cummulated Rows: 4541
249    1634765396
Name: created_utc, dtype: int64
Iternation: 43 Valid Rows: 105 Cummulated Rows: 4646
249    1634412742
Name: created_utc, dtype: int64
Iternation: 44 Valid Rows: 91 Cummulated Rows: 4737
249    1634022812
Name: created_utc, dtype: int64
Iternation: 45 Valid Rows: 105 Cummulated Rows: 4842
249    1633698868
Name: created_utc, dtype: int64
Iternation: 46 Valid Rows: 100 Cummulated Rows: 4942
249    1633341123
Name: created_utc, dtype: int64
Iternation: 47 Valid Rows: 92 Cummulated Rows: 5034
249    1633033398
Name: created_utc, dtype: int64
Iternation: 48 Valid Rows: 107 Cummulated Rows: 5141
249    1632697538
Name: created_utc, dtype: int64
Iternation: 49 Valid Rows: 114 Cummulated Rows: 5255
249    1632399494
Name: created_utc, dtype: int64
Iternation: 50 Valid Rows: 110 Cummulated Rows: 5365
249    1632036404
Name: created_utc, dtype: int64
Iternation: 51 Valid Rows: 108 Cummulated Rows: 5473
249    1631715984
Name: created_utc, dtype: int64
Iternation: 52 Valid Rows: 104 Cummulated Rows: 5577
249    1631367421
Name: created_utc, dtype: int64
Iternation: 53 Valid Rows: 113 Cummulated Rows: 5690
248    1630989920
Name: created_utc, dtype: int64
Iternation: 54 Valid Rows: 118 Cummulated Rows: 5808
249    1630707219
Name: created_utc, dtype: int64
Iternation: 55 Valid Rows: 93 Cummulated Rows: 5901
249    1630370272
Name: created_utc, dtype: int64
Iternation: 56 Valid Rows: 101 Cummulated Rows: 6002
249    1629975402
Name: created_utc, dtype: int64
Iternation: 57 Valid Rows: 116 Cummulated Rows: 6118
249    1629672803
Name: created_utc, dtype: int64
Iternation: 58 Valid Rows: 107 Cummulated Rows: 6225
249    1629293556
Name: created_utc, dtype: int64
Iternation: 59 Valid Rows: 122 Cummulated Rows: 6347
249    1628894409
Name: created_utc, dtype: int64
Iternation: 60 Valid Rows: 126 Cummulated Rows: 6473
247    1628540006
Name: created_utc, dtype: int64
Iternation: 61 Valid Rows: 114 Cummulated Rows: 6587
249    1628200739
Name: created_utc, dtype: int64
Iternation: 62 Valid Rows: 111 Cummulated Rows: 6698
249    1627887755
Name: created_utc, dtype: int64
Iternation: 63 Valid Rows: 101 Cummulated Rows: 6799
246    1627518758
Name: created_utc, dtype: int64
Iternation: 64 Valid Rows: 109 Cummulated Rows: 6908
249    1627174734
Name: created_utc, dtype: int64
Iternation: 65 Valid Rows: 126 Cummulated Rows: 7034
248    1626797823
Name: created_utc, dtype: int64
Iternation: 66 Valid Rows: 116 Cummulated Rows: 7150
249    1626454443
Name: created_utc, dtype: int64
Iternation: 67 Valid Rows: 116 Cummulated Rows: 7266
249    1626047182
Name: created_utc, dtype: int64
Iternation: 68 Valid Rows: 108 Cummulated Rows: 7374
249    1625648285
Name: created_utc, dtype: int64
Iternation: 69 Valid Rows: 125 Cummulated Rows: 7499
249    1625207499
Name: created_utc, dtype: int64
Iternation: 70 Valid Rows: 120 Cummulated Rows: 7619
249    1624822388
Name: created_utc, dtype: int64
Iternation: 71 Valid Rows: 127 Cummulated Rows: 7746
249    1624386897
Name: created_utc, dtype: int64
Iternation: 72 Valid Rows: 113 Cummulated Rows: 7859
249    1623990054
Name: created_utc, dtype: int64
Iternation: 73 Valid Rows: 111 Cummulated Rows: 7970
249    1623620524
Name: created_utc, dtype: int64
Iternation: 74 Valid Rows: 91 Cummulated Rows: 8061
249    1623253145
Name: created_utc, dtype: int64
Iternation: 75 Valid Rows: 121 Cummulated Rows: 8182
249    1622858182
Name: created_utc, dtype: int64
Iternation: 76 Valid Rows: 116 Cummulated Rows: 8298
249    1622486758
Name: created_utc, dtype: int64
Iternation: 77 Valid Rows: 115 Cummulated Rows: 8413
249    1622135877
Name: created_utc, dtype: int64
Iternation: 78 Valid Rows: 102 Cummulated Rows: 8515
249    1621742489
Name: created_utc, dtype: int64
Iternation: 79 Valid Rows: 113 Cummulated Rows: 8628
249    1621368542
Name: created_utc, dtype: int64
Iternation: 80 Valid Rows: 111 Cummulated Rows: 8739

249    1621003415
Name: created_utc, dtype: int64
Iternation: 81 Valid Rows: 118 Cummulated Rows: 8857
249    1620605137
Name: created_utc, dtype: int64
Iternation: 82 Valid Rows: 122 Cummulated Rows: 8979
249    1620249875
Name: created_utc, dtype: int64
Iternation: 83 Valid Rows: 127 Cummulated Rows: 9106
249    1619895811
Name: created_utc, dtype: int64
Iternation: 84 Valid Rows: 120 Cummulated Rows: 9226
249    1619550092
Name: created_utc, dtype: int64
Iternation: 85 Valid Rows: 133 Cummulated Rows: 9359
248    1619200918
Name: created_utc, dtype: int64
Iternation: 86 Valid Rows: 119 Cummulated Rows: 9478
249    1618837582
Name: created_utc, dtype: int64
Iternation: 87 Valid Rows: 128 Cummulated Rows: 9606
249    1618463850
Name: created_utc, dtype: int64
Iternation: 88 Valid Rows: 126 Cummulated Rows: 9732
249    1617718689
Name: created_utc, dtype: int64
Iternation: 89 Valid Rows: 143 Cummulated Rows: 9875
249    1617322820
Name: created_utc, dtype: int64
Iternation: 90 Valid Rows: 134 Cummulated Rows: 10009
248    1616905626
Name: created_utc, dtype: int64
Iternation: 91 Valid Rows: 142 Cummulated Rows: 10151
249    1615690679
Name: created_utc, dtype: int64
Iternation: 92 Valid Rows: 107 Cummulated Rows: 10258
248    1615291950
Name: created_utc, dtype: int64
Iternation: 93 Valid Rows: 128 Cummulated Rows: 10386
249    1614700833
Name: created_utc, dtype: int64
Iternation: 94 Valid Rows: 112 Cummulated Rows: 10498
249    1614189762
Name: created_utc, dtype: int64
Iternation: 95 Valid Rows: 104 Cummulated Rows: 10602
249    1613868657
Name: created_utc, dtype: int64
Iternation: 96 Valid Rows: 102 Cummulated Rows: 10704
248    1613422986
Name: created_utc, dtype: int64
Iternation: 97 Valid Rows: 120 Cummulated Rows: 10824
249    1613086649
Name: created_utc, dtype: int64
Iternation: 98 Valid Rows: 132 Cummulated Rows: 10956
247    1612470924
Name: created_utc, dtype: int64
Iternation: 99 Valid Rows: 103 Cummulated Rows: 11059
249    1612139024
Name: created_utc, dtype: int64
Iternation: 100 Valid Rows: 128 Cummulated Rows: 11187
249    1611818980
Name: created_utc, dtype: int64
Iternation: 101 Valid Rows: 140 Cummulated Rows: 11327
249    1611418768
Name: created_utc, dtype: int64
Iternation: 102 Valid Rows: 134 Cummulated Rows: 11461
249    1611093598
Name: created_utc, dtype: int64
Iternation: 103 Valid Rows: 147 Cummulated Rows: 11608
249    1610753742
Name: created_utc, dtype: int64
Iternation: 104 Valid Rows: 133 Cummulated Rows: 11741
249    1610478146
Name: created_utc, dtype: int64
Iternation: 105 Valid Rows: 127 Cummulated Rows: 11868
249    1610196760
Name: created_utc, dtype: int64
Iternation: 106 Valid Rows: 121 Cummulated Rows: 11989
249    1609910948
Name: created_utc, dtype: int64
Iternation: 107 Valid Rows: 131 Cummulated Rows: 12120
249    1609617862
Name: created_utc, dtype: int64
Iternation: 108 Valid Rows: 136 Cummulated Rows: 12256
249    1609288377
Name: created_utc, dtype: int64
Iternation: 109 Valid Rows: 121 Cummulated Rows: 12377
247    1608939653
Name: created_utc, dtype: int64
Iternation: 110 Valid Rows: 135 Cummulated Rows: 12512
249    1608591355
Name: created_utc, dtype: int64
Iternation: 111 Valid Rows: 125 Cummulated Rows: 12637
248    1608306714
Name: created_utc, dtype: int64
Iternation: 112 Valid Rows: 116 Cummulated Rows: 12753
249    1607944214
Name: created_utc, dtype: int64
Iternation: 113 Valid Rows: 131 Cummulated Rows: 12884
249    1607558685
Name: created_utc, dtype: int64
Iternation: 114 Valid Rows: 131 Cummulated Rows: 13015
248    1607190004
Name: created_utc, dtype: int64
Iternation: 115 Valid Rows: 136 Cummulated Rows: 13151
249    1606835097
Name: created_utc, dtype: int64
Iternation: 116 Valid Rows: 128 Cummulated Rows: 13279
249    1606568001
Name: created_utc, dtype: int64
Iternation: 117 Valid Rows: 138 Cummulated Rows: 13417
249    1606270934
Name: created_utc, dtype: int64
Iternation: 118 Valid Rows: 132 Cummulated Rows: 13549
249    1605990500
Name: created_utc, dtype: int64
Iternation: 119 Valid Rows: 122 Cummulated Rows: 13671
249    1605650009
Name: created_utc, dtype: int64
Iternation: 120 Valid Rows: 119 Cummulated Rows: 13790
249    1605333669
Name: created_utc, dtype: int64
Iternation: 121 Valid Rows: 122 Cummulated Rows: 13912

In [7]:
df_main = df_main.drop_duplicates(subset='selftext', keep="first")
print("Final Rows After Deduplication: " + str(df_main.shape[0]))

Final Rows After Deduplication: 13772

In [8]:
#export data for backup
df_main.to_csv(r'flstudio_data_20nov2022.csv', index=False)